.playingCard {
    width: 250px;
    height: 350px;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.selected {
    border: 2px solid blue;
}
.standardHand {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 350px 350px 350px;
    gap: 10px;
    justify-content: center;
}

.extendedHand {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 350px 350px 350px;
    gap: 10px;
    justify-content: center;
  }

